<div class="container" >
    <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row g-3">
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2022/02/top-rated-bucket-list-destinations-the-maldives.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>The Maldives</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
            </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2020/05/best-bucket-list-destinations-paris-france.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Paris</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2020/05/best-bucket-list-destinations-amazon-rainforest-brazil.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>The Amazon Rain Forest</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2020/05/best-bucket-list-destinations-santorini-greece.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Santorini</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2022/02/top-rated-bucket-list-destinations-bali-indonesia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Bali</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2020/05/best-bucket-list-destinations-bora-bora-french-polynesia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Bora Bora</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2020/05/best-bucket-list-destinations-pyramids-giza-egypt.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>The Pyramid of Giza</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2020/05/best-bucket-list-destinations-venice-italy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Venice</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2020/05/best-bucket-list-destinations-angkor-wat-cambodia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Angkor Wat</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card">
                    <img src="https://www.planetware.com/wpimages/2020/05/best-bucket-list-destinations-tahiti-french-polynesia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><i>Tahiti</i></h5>
                      <p class="card-text"> </p>
                      <a href="#" class="btn btn-primary"><b>View</b></a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>
